<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="/css/root.css" />

<title>已发送数据</title>
</head>

<body>
	<nav
		class="navbar navbar-expand-lg fixed-top navbar-light bg-light p-0">
		<div class="input-group">
			<button class="btn btn-outline-success ml-2 col-auto" id="clean">清空</button>
			<a href="/test/netMessage/received" class="nav-link ml-2" target="_blank">查看接收数据</a>
		</div>
	</nav>

	<div id="container" class="mt-5"></div>

	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>

	<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>

	<script src="/js/test/sent.js"></script>
</body>

</html>