#main_title {
	
}

[role="main"] {
	height: calc(100vh - 26px);
	background-color: #E6EDEF;
}

.icon-main-preview {
    font-size: 36px;
}

.icon-main-preview-group {
    font-size: 24px;
}

.ele-card{
	width: 80%;
	min-width: 190px;
	height: 110px;
	background-color: white;
	border: 1.5px solid #BFBFBF;
	/* Add box-shadow */
	box-shadow: 2px 2px 3px #dddddd;
	border-radius:6px;
	padding: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.ele-card.clickable:hover {
	background-color: #228B22;
	color: white;
	cursor: pointer;
}

.dev-name{
	margin-top: 26px;
}

.btn-group-dev{
	margin-top: 20px;
}

.btn_ctrl{
	padding-left : 4px !important;
	padding-right : 4px !important;
}

#div-event {
  top: 0;
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* #div-event { */
/*   overflow-x: hidden; */
/*   overflow-y: auto; Scrollable contents if viewport is shorter than content. */
/* } */
