<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="/css/root2.css" />
<link rel="stylesheet" href="/css/deviceHistory.css" />
<link rel="stylesheet" href="/css/bootstrap-select.css" />
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
	media="screen">
<title>数据分析</title>
</head>

<!-- 传值 -->
<!-- substation:Substation, listValueDevice:List, listCtrlDevice:List -->

<body>
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1 shadow">
		<a class="navbar-brand" href="#">电站智能辅助监控系统</a>

		<ul class="nav mr-auto text-white">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle text-white" href="#"
				id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"> 数据分析 </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#"
						th:href="|/substation/${substation.station.id}/${substation.id}|">数据监控</a>
					<a class="dropdown-item" href="#"
						th:href="|/valueHistory/${substation.id}/0|">数据分析</a>
				</div></li>
		</ul>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<nav class="nav-pills col-2 d-none d-md-block bg-dark sidebar">
				<h6 id="p-address-name" th:text="${substation.name}"
					class="p-2 text-muted">1号变电站</h6>
<!-- 				<h6 class="px-3 text-muted">数据节点列表</h6> -->
<!-- 				<div id="div-devices"> -->
<!-- 					<a th:each="dev : ${listValueDevice}" -->
<!-- 						th:text="|${dev.place} - ${dev.name}|" class="nav-link text-white" -->
<!-- 						href="#" th:href="|#div-chart-${dev.id}|">设备</a> <a -->
<!-- 						th:each="dev : ${listCtrlDevice}" -->
<!-- 						th:text="|${dev.place} - ${dev.name}|" class="nav-link text-white" -->
<!-- 						href="#" th:href="|#div-chart-${dev.id}|">设备</a> -->
<!-- 				</div> -->
			</nav>

			<div class="col-10 ml-auto pl-0 mb-5" role="main">
				<div class="row ml-0" id="nav-path">
					<nav aria-label="breadcrumb col">
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="#"
								th:href="|/substation/${substation.station.id}/${substation.id}|">首页</a></li>
							<li class="breadcrumb-item active" aria-current="page">数据分析</li>
						</ol>
					</nav>
				</div>
				<form class="form-inline p-2">
					<label class="mr-1">选择设备:</label> <select id="devices-selectpicker" multiple
						data-style="btn-info" data-selected-text-format="count > 2">
						<option th:each="dev : ${listValueDevice}" th:value="${dev.id}"
							th:text="|${dev.place} - ${dev.name}|">Mustard</option>
						<option th:each="dev : ${listCtrlDevice}" th:value="${dev.id}"
							th:text="|${dev.place} - ${dev.name}|">Mustard</option>
					</select>
					<div class="form-group">
						<label for="dtp_input2" class="col-md-2 control-label">从:</label>
						<input id="datetime_start" size="14" type="text"readonly class="form_datetime form-control">
					</div>
					<div class="form-group">
						<label for="dtp_input2" class="col-md-2 control-label">到:</label>
						<input id="datetime_end" size="14" type="text" readonly class="form_datetime form-control">
					</div>
					<div class="col-auto">
						<button type="button" id="btn-create-charts"
							class="btn btn-primary">生成曲线</button>
					</div>
					<div class="col-auto btn-group" role="group">
						<button id="btn-chart-line" type="button"
							class="btn btn-outline-info">
							<img class="title-icon" src="/img/图表折线图.svg" />
						</button>
						<button id="btn-chart-bar" type="button"
							class="btn btn-outline-info">
							<img class="title-icon" src="/img/图表柱状图.svg" />
						</button>
					</div>
				</form>
				<div class="row mt-2 ml-0">
					<div th:if="${mainDevice}" id="div-main-chart"
						class="w-100 div-chart" th:attr="data-dev-id=${mainDevice.id}"></div>
				</div>
				<div class="row ml-3 mr-2">
					<table id="table_value_history" class="table table-striped table-sm">
						<caption>历史纪录报表</caption>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>

	<script src="/js/bootstrap-select.js"></script>
	<script src="/js/defaults-zh_CN.js"></script>
	<script src="/js/echarts.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
	<script src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/js/deviceHistory.js"></script>
	
</body>

</html>