<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="/css/root.css" />

<title></title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">电站智能辅助监控系统</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">首页<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> 数据分析 </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="eleInfo2.html">电站数据</a> <a
							class="dropdown-item" href="#">数据分析</a>
					</div></li>
			</ul>
			<div class="nav-item">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="Settings.html">系统设置</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> admin </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">个人资料</a> <a
								class="dropdown-item" href="#">退出</a>
						</div></li>
				</ul>
			</div>
		</div>

	</nav>

	<div id="container" class="row">
		<div id="nav-station" class="col-auto bg-dark m-0">
			<div class="row station-title p-1 m-0" id="p-address-name">
				<span class="col pl-1" th:text="${collector.msgManager.substation.name}">1号变电站</span>
			</div>
			<div class="row p-1 mt-2 mr-0 div-left-title">
				<span class="col">通信机列表</span>
			</div>
			<div class="nav flex-column nav-pills" id="v-pills-tab"
				role="tablist" aria-orientation="vertical">
				<a
					th:each="manager : ${collector.msgManager.substation.listMsgManager}"
					th:text="|${manager.name}:${manager.code}|" class="nav-link" href="#"
					th:href="|/msgManager/${manager.substation.id}/${manager.id}|"
					th:classappend="${manager.id == collector.msgManager.id}? 'active'">通信管理机1</a>
			</div>
		</div>
		<div class="col p-0">
			<div class="tab-content m-0" id="v-pills-tabContent">

				<div class="tab-pane fade show active" id="v-pills-my-device"
					role="tabpanel">

					<div>
						<nav aria-label="breadcrumb col">
							<ol class="breadcrumb m-0">
								<li class="breadcrumb-item"><a href="#"
									th:href="|/substation/${collector.msgManager.substation.station.id}/${collector.msgManager.substation.id}|">首页</a></li>
								<li class="breadcrumb-item"><a href="#"
									th:href="|/msgManager/${collector.msgManager.substation.id}/${collector.msgManager.id}|">通信管理机</a></li>
								<li class="breadcrumb-item active" th:text="|采集终端:${collector.name}|">采集终端</li>
							</ol>
						</nav>
						<div class="col-12 row bg-light p-2 m-0">
							<span class="col-auto align-self-center">采集终端</span> <span
								class="col-auto align-self-center">起始地址: <span
								th:text="${collector.beginAddress}"></span></span> <span
								class="col-auto align-self-center">数据长度: <span
								th:text="${collector.dataLength}"></span></span>
							<button type="button" class="col-auto btn btn-primary ml-2"
								data-toggle="modal" data-target="#addDeviceModal" data-option="add" th:attr="data-collector-id=${collector.id}">添加设备</button>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th scope="col">设备名称</th>
									<th scope="col">数据地址</th>
									<th scope="col">数据宽度</th>
									<th scope="col">字节顺序</th>
									<th scope="col">数据类型</th>
									<th scope="col">数据格式</th>
									<th scope="col">系数</th>
									<th scope="col">单位</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="device : ${collector.listDevice}">
									<td th:text="${device.name}">温度</td>
									<td th:text="${device.beginAddress}">1</td>
									<td th:text="${device.dataLength}">2</td>
									<td th:text="${device.byteOrder}">12</td>
									<td th:text="${device.valueType.info}">浮点数</td>
									<td th:text="${device.valueFormat.info}">绝对值</td>
									<td th:text="${device.coefficient}">0.01</td>
									<td th:text="${device.unit}">℃</td>
									<td><a href="#" data-toggle="modal"
										data-target="#addDeviceModal" data-option="edit"
										th:attr="data-id=${device.id}, data-name=${device.name}, data-beginAddress=${device.beginAddress}, data-dataLength=${device.dataLength}, data-byteOrder=${device.byteOrder}, data-valueType=${device.valueType}, data-valueFormat=${device.valueFormat}, data-coefficient=${device.coefficient}, data-unit=${device.unit}">编辑
									</a> <a href="#" th:href="|/device/del/${device.id}|">删除</a></td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal 添加设备 -->
	<div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addDeviceModalTitle">添加设备</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="pr-3" th:action="|/device/${collector.id}|"
						method="post">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">设备名称</label> <input
								type="text" class="form-control col-sm-9" name="name" id="name"
								required="required">
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">数据地址</label> <input
								type="text" class="form-control col-sm-9" name="beginAddress"
								id="beginAddress" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">数据宽度</label>
							<input type="text" class="form-control col-sm-9" id="dataLength"
								name="dataLength" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">字节顺序</label>
							<input type="text" class="form-control col-sm-9" id="byteOrder"
								name="byteOrder" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">数据类型</label>
							<select class="form-control col-sm-9" required="required"
								name="valueType" id="valueType">
								<option value="INT">整数</option>
								<option value="FLOAT">浮点数</option>
							</select>
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">数据格式</label>
							<select class="form-control col-sm-9" required="required"
								name="valueFormat" id="valueFormat">
								<option value="ABS">绝对值</option>
							</select>
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">系数</label>
							<input type="text" class="form-control col-sm-9" id="coefficient"
								name="coefficient" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">单位</label>
							<input type="text" class="form-control col-sm-9" id="unit"
								name="unit" required="required">
						</div>
						<button type="submit" class="btn btn-primary">提交</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
	<script src="/js/device.js"></script>
</body>

</html>