<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="/css/root.css" />

<title></title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">电站智能辅助监控系统</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/map">地图<span
						class="sr-only">(current)</span></a></li>
			</ul>
			<div class="nav-item">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="/station/mystations">系统设置</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> admin </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">个人资料</a> <a
								class="dropdown-item" href="#">退出</a>
						</div></li>
				</ul>
			</div>
		</div>

	</nav>

	<div id="container" class="row">
		<div id="nav-station" class="col-auto bg-dark m-0">
			<div class="row station-title p-1 m-0" id="p-address-name">
				<span class="col pl-1" th:text="${substationName}">1号变电站</span>
			</div>
			<div class="row p-1 mt-2 mr-0 div-left-title">
				<span class="col">通信机列表</span> <a href="#" data-toggle="modal"
					data-target="#editMsgManagerModal" data-option="add"
					th:attr="data-substation-id=${substationId}"><img
					class="title-icon mr-1" src="/img/添加.svg" /></a>
			</div>
			<div class="nav flex-column nav-pills" id="v-pills-tab"
				role="tablist" aria-orientation="vertical">
				<a th:each="manager : ${listMsgManager}"
					th:text="|${manager.name}:${manager.code}|" class="nav-link"
					href="#" th:href="|/msgManager/${substationId}/${manager.id}|"
					th:classappend="${manager.id == msgManager.id}? 'active'">通信管理机1</a>
			</div>
		</div>
		<div class="col p-0">
			<div class="tab-content m-0" id="v-pills-tabContent">

				<div class="tab-pane fade show active" id="v-pills-my-device"
					role="tabpanel">

					<div th:if="${msgManager}" class="m-0 p-0">
						<div class="col-12 row bg-light p-2 m-0">
							<nav class="col-auto mr-auto align-self-center"
								aria-label="breadcrumb col-auto">
								<ol class="breadcrumb m-0 bg-light p-1">
									<li class="breadcrumb-item"><a href="#"
										th:href="|/substation/${msgManager.substation.station.id}/${msgManager.substation.id}|">首页</a></li>
									<li class="breadcrumb-item"><a href="#"
										th:href="|/devGroup/${msgManager.substation.id}/0|">数据组管理</a></li>
								</ol>
							</nav>
							<div class="col-auto mr-2">
								<span class="align-self-center col-atuo">通信机名称:</span> <span
									class="align-self-center col-atuo" id="station-name"
									th:text="${msgManager.name}" data-stationid="">通信管理机1 </span> <a
									class="dropdown-toggle align-self-center col-auto"
									id="a-station-option" href="#" data-toggle="dropdown">操作</a>
								<div class="dropdown-menu" aria-labelledby="a-station-option">
									<a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#editMsgManagerModal" data-option="edit"
										th:attr="data-id=${msgManager.id}, data-name=${msgManager.name}, data-code=${msgManager.code}, data-place=${msgManager.place}">编辑</a>
									<a class="dropdown-item" href="#" id="del-msg-manager"
										th:href="|/msgManager/del/${msgManager.id}|" data-stationid="">删除</a>
								</div>
								<button type="button" class="btn btn-primary ml-2 col-auto"
									th:attr="data-msg-manager-id=${msgManager.id}"
									data-toggle="modal" data-option="add"
									data-target="#editCollectorModal">添加采集终端</button>
								<button type="button" id="btn-send-config"
									th:attr="data-msg-manager-id=${msgManager.id}"
									class="btn btn-primary ml-2 col-auto">下发配置命令</button>
							</div>
						</div>

						<table class="table">
							<caption>采集终端列表</caption>
							<thead class="thead-light">
								<tr>
									<th scope="col">设备名称</th>
									<th scope="col">总线</th>
									<th scope="col">终端号</th>
									<th scope="col">功能码</th>
									<th scope="col">起始地址</th>
									<th scope="col">数据长度</th>
									<th scope="col">数据类型</th>
									<th scope="col">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="collector : ${msgManager.listCollector}">
									<td th:text="${collector.name}">采集终端</td>
									<td th:text="${collector.busCode}">1</td>
									<td th:text="${collector.code}">1</td>
									<td th:text="${collector.functionCode}">1</td>
									<td th:text="${collector.beginAddress}">0xb1</td>
									<td th:text="${collector.dataLength}">2</td>
									<td th:text="${collector.dataType.info}">数值量</td>
									<td class="row"><a href="#"
										th:href="|/device/${collector.id}|">设备管理 </a> <a
										class="nav-link dropdown-toggle p-0 ml-2" href="#"
										role="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">更多</a>
										<div class="dropdown-menu">
											<a href="#" data-toggle="modal" class="dropdown-item"
												data-target="#editCollectorModal" data-option="edit"
												th:attr="data-id=${collector.id}, data-name=${collector.name}, data-busCode=${collector.busCode}, data-functionCode=${collector.functionCode}, data-code=${collector.code}, data-beginAddress=${collector.beginAddress}, data-dataLength=${collector.dataLength}, data-dataType=${collector.dataType}">编辑
											</a> <a href="#" class="dropdown-item del-collector"
												th:href="|/collector/del/${collector.id}|">删除</a>
										</div></td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal 添加通信机 -->
	<div class="modal fade" id="editMsgManagerModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editMsgManagerModalTitle">添加通信机</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="|/msgManager/${substationId}|" method="post"
						id="form-add-msgmanager">
						<div class="form-group">
							<label for="substationName">通信管理机名称</label> <input type="text"
								class="form-control" id="manager-name" name="name"
								required="required">
						</div>
						<div class="form-group">
							<label for="substationName">通信管理机编号</label> <input type="text"
								class="form-control" id="manager-code" name="code"
								required="required">
						</div>

						<div class="form-group">
							<label for="substationName">通信管理机位置</label> <input type="text"
								class="form-control" id="manager-place" name="place">
						</div>
						<div class="form-group">
							<span id="manager-code-repeated" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary">提交</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 编辑通信机 -->
	<!-- 	<div class="modal fade" id="editMsgManagerModal" tabindex="-1" -->
	<!-- 		role="dialog" aria-hidden="true"> -->
	<!-- 		<div class="modal-dialog" role="document"> -->
	<!-- 			<div class="modal-content"> -->
	<!-- 				<div class="modal-header"> -->
	<!-- 					<h5 class="modal-title">编辑通信机</h5> -->
	<!-- 					<button type="button" class="close" data-dismiss="modal" -->
	<!-- 						aria-label="Close"> -->
	<!-- 						<span aria-hidden="true">&times;</span> -->
	<!-- 					</button> -->
	<!-- 				</div> -->
	<!-- 				<div class="modal-body"> -->
	<!-- 					<form th:if="${msgManager}" -->
	<!-- 						th:action="|/msgManager/edit/${msgManager.id}|" method="post"> -->
	<!-- 						<div class="form-group"> -->
	<!-- 							<label for="substationName">通信管理机名称</label> <input type="text" -->
	<!-- 								class="form-control" name="name" th:value="${msgManager.name}" -->
	<!-- 								required="required"> -->
	<!-- 						</div> -->
	<!-- 						<div class="form-group"> -->
	<!-- 							<label for="substationName">通信管理机编号</label> <input type="text" -->
	<!-- 								class="form-control" name="code" th:value="${msgManager.code}" -->
	<!-- 								required="required"> -->
	<!-- 						</div> -->
	<!-- 						<div class="form-group"> -->
	<!-- 							<label for="substationName">通信管理机位置</label> <input type="text" -->
	<!-- 								class="form-control" name="place" th:value="${msgManager.place}" -->
	<!-- 								required="required"> -->
	<!-- 						</div> -->
	<!-- 						<button type="submit" class="btn btn-primary">提交</button> -->
	<!-- 					</form> -->
	<!-- 				</div> -->
	<!-- 			</div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->

	<!-- Modal 添加数据组 -->
	<div class="modal fade" id="addDeviceGroupModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">添加数据组</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label for="substationName">组名称</label> <input type="text"
								class="form-control" name="name" required="required">
						</div>
						<div class="form-group">
							<label for="substationName">组图标</label> <select
								class="form-control" id="exampleFormControlSelect1">
								<option>湿度</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">提交</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal 添加采集终端 -->
	<div class="modal fade" id="editCollectorModal" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editCollectorModalTitle">添加采集终端</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="p-2" th:if="${msgManager}"
						th:action="|/collector/${msgManager.id}|" method="post">
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">总线号</label>
							<input type="text" class="form-control col-sm-9" name="busCode"
								id="busCode" placeholder="总线号" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">终端名称</label>
							<input type="text" class="form-control col-sm-9" name="name"
								id="name" placeholder="采集终端名称" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">终端号</label>
							<input type="text" class="form-control col-sm-9" name="code"
								id="code" placeholder="终端号" required="required">
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">功能码</label> <input
								type="text" class="form-control col-sm-9" name="functionCode"
								id="functionCode" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">起始地址</label>
							<input type="text" class="form-control col-sm-9"
								id="beginAddress" name="beginAddress" placeholder="起始地址"
								required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">数据长度</label>
							<input type="text" class="form-control col-sm-9" id="dataLength"
								name="dataLength" placeholder="数据长度" required="required">
						</div>
						<div class="form-group row">
							<label for="substationName" class="col-sm-3 col-form-label">数据类型</label>
							<select class="form-control col-sm-9" name="dataType"
								id="dataType" required="required">
								<option value="YAO_XIN">遥信</option>
								<option value="YAO_CE">遥测</option>
								<option value="YAO_MAI">遥脉</option>
								<option value="YAO_KONG">遥控</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">提交</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>

	<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>

	<script src="/js/msgManager.js"></script>
</body>

</html>