<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="/css/root.css" />
<link rel="stylesheet" href="/css/sysset.css" />
<link rel="stylesheet" href="/css/mystations.css" />
<title></title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">电站智能辅助监控系统</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">首页<span
						class="sr-only">(current)</span></a></li>
			</ul>
			<div class="nav-item">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> admin </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">个人资料</a> <a
								class="dropdown-item" href="#">退出</a>
						</div></li>
				</ul>
			</div>
		</div>

	</nav>

	<div id="container" class="row">
		<div id="nav-station" class="col-auto bg-dark">
			<p id="p-address-name">设置</p>
			<div class="nav flex-column nav-pills" id="v-pills-tab"
				role="tablist" aria-orientation="vertical">
				<a class="nav-link nav-classes" disabled><img src="/img/站点.svg" />
					站点管理</a> <a class="nav-link nav-settings-item active"
					id="v-pills-my-station-tab" href="Settings.html" role="tab"
					aria-selected="true">我的站点</a> <a
					class="nav-link nav-settings-item"
					id="v-pills-add-station-tab"
					href="/station/add" role="tab" aria-selected="true">添加站点</a> <a
					class="nav-link nav-classes" disabled><img
					src="/img/user_white.svg" /> 账号管理</a> <a
					class="nav-link nav-settings-item" id="v-pills-users-tab"
					data-toggle="pill" href="#v-pills-users" role="tab"
					aria-controls="v-pills-users" aria-selected="true">系统用户管理</a> <a
					class="nav-link nav-settings-item" id="v-pills-stations-tab"
					data-toggle="pill" href="#v-pills-stations" role="tab"
					aria-controls="v-pills-stations" aria-selected="true">自定义系统组</a> <a
					class="nav-link nav-settings-item" id="v-pills-users-tab"
					data-toggle="pill" href="#v-pills-users" role="tab"
					aria-controls="v-pills-users" aria-selected="true">自定义个人组</a> <a
					class="nav-link nav-settings-item" id="v-pills-stations-tab"
					data-toggle="pill" href="#v-pills-stations" role="tab"
					aria-controls="v-pills-stations" aria-selected="true">组织机构</a> <a
					class="nav-link nav-classes" disabled><img
					src="/img/psd_white.svg" /> 权限管理</a> <a
					class="nav-link nav-settings-item" id="v-pills-users-tab"
					data-toggle="pill" href="#v-pills-users" role="tab"
					aria-controls="v-pills-users" aria-selected="true">设置办公室人员</a> <a
					class="nav-link nav-settings-item" id="v-pills-stations-tab"
					data-toggle="pill" href="#v-pills-stations" role="tab"
					aria-controls="v-pills-stations" aria-selected="true">角色管理</a>
			</div>
		</div>
		<div class="col">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-my-station"
					role="tabpanel">

					<table class="table">
						<caption>站点列表</caption>
						<thead class="thead-light">
							<tr>
								<th scope="col">站点名称</th>
								<th scope="col">站点地址</th>
								<th scope="col">坐标</th>
								<th scope="col">联系电话</th>
								<th scope="col">备注</th>
								<th scope="col">建档时间</th>
								<th scope="col">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="station : ${listStation}"
								th:data-id="${station.id}">
								<td th:text="${station.name}">淮海工学院</td>
								<td th:text="${station.address}">苍梧路</td>
								<td th:text="'经:'+${station.lat}+'&#10;纬:'+${station.lng}">纬:119.226<br />经:34.613
								</td>
								<td th:text="${station.tel}">15861295673</td>
								<td th:text="${station.remark}">备注</td>
								<td th:text="${station.registerTime}">2018-10-08</td>
								<td><a href="#">编辑 </a><span>|</span> <a href="#" th:href="'/station/delete/'+${station.id}">删除</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>

</body>

</html>