<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css" />

<title>站点错误</title>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">电站智能辅助监控系统</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			</ul>
			<div class="nav-item">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="station/mystations">登录</a></li>
				</ul>
			</div>
		</div>

	</nav>

	<div class="container">
		用户下没有创建站点
	</div>
	
	<script src="/webjars/jquery/3.3.1/jquery.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.js"></script>

</body>

</html>