
#nav-station{
	width: 200px;
	height: 100%;
	padding-right: 0px;
	color: white;
}

.title-icon{
	width: 20px;
	height: 20px;
}

#nav-station img{
	width: 20px;
	height: 20px;
}

.nav-classes{
	background-color: #595959;
}

.nav-settings-item{
	color: white;
	padding-left: 38px;
}

#station-info{
	margin-top: 8px;
}

#p-address-name{
	background-color: black;
	color: white;
	width: 100%;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#v-pills-tabContent{
	padding: 8px;
}

